# ABC分析

ABC分析は、在庫管理や顧客セグメント化に使われる経営ツールです。この手法は、資源を「重要度の高いA項目、中間のB項目、重要度の低いC項目」に分類し、重点管理を行います。一般的には経営学の原則に基づいています。

<a href="https://colab.research.google.com/github/fuyu-quant/data-science-wiki/blob/main/tabledata/marketing/abc_analysis.ipynb" target="_blank" rel="noopener noreferrer"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

### データの用意

In [28]:
url = 'https://raw.githubusercontent.com/fuyu-quant/data-science-wiki/develop/datasets/retail-france.csv'
df = pd.read_csv(url)
df.head()

,発注番号,商品番号,商品説明,商品個数,明細書発行日,商品単価,顧客番号,国名,発注種別
0,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,5
1,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,5
2,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,5
3,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,5
4,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,5

### ABC分析の実行

In [29]:
df['売上高'] = df['商品個数'] * df['商品単価']
df = df[['商品番号', '売上高']].groupby('商品番号').sum().reset_index()
df.head()

    商品番号     売上高
0  10002  316.20
1  10120    2.10
2  10125  390.90
3  10135   12.50
4  11001   27.04

In [30]:

df_sorted = df.sort_values(by='売上高', ascending=False)

累積構成比を計算

In [31]:
# 累積構成比の計算
df_sorted['累積構成比'] = df_sorted['売上高'].cumsum() / df_sorted['売上高'].sum()
# cumsumは累積和の計算に、sumは合計値の計算に用いる

商品をABC３つのグループに分ける

In [32]:
df_sorted['ABCクラス'] = pd.cut(df_sorted['累積構成比'], bins=[0, 0.7, 0.9, 1.0], labels=['A', 'B', 'C'])
df_sorted.head()

       商品番号       売上高     累積構成比 ABCクラス
1541   POST  15454.00  0.073690      A
1540      M   9492.37  0.118954      A
1041  23084   7277.20  0.153654      A
623   22423   2816.85  0.167086      A
319   21731   2169.75  0.177432      A

In [34]:
df_sorted

        商品番号       売上高     累積構成比 ABCクラス
1541    POST  15454.00  0.073690      A
1540       M   9492.37  0.118954      A
1041   23084   7277.20  0.153654      A
623    22423   2816.85  0.167086      A
319    21731   2169.75  0.177432      A
...      ...       ...       ...    ...
367    21901      0.65  0.999992      C
996    22999      0.42  0.999994      C
1439  84596J      0.42  0.999996      C
998    23003      0.42  0.999998      C
220    21403      0.36  1.000000      C

[1542 rows x 4 columns]